<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssi.model.UserMapper">

<resultMap id="User" type="com.ssi.model.User" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USERNAME" property="userName" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="createUser" property="createUser" jdbcType="VARCHAR" />
    <result column="createDate" property="createDate" jdbcType="VARCHAR" />
    <result column="isValid" property="isValid" jdbcType="INTEGER" />
</resultMap>

<select id="getAll" resultType="com.ssi.model.User" useCache="true">
    SELECT * FROM T_USER 
</select>

<select id="getUserById" parameterType="int" resultMap="User" useCache="true">
    SELECT * FROM T_USER IU 
    <where>
        AND IU.ID=#{id,jdbcType=INTEGER}
    </where>
</select>
 
 
<select id="getUserByName" parameterType="String" resultType="com.ssi.model.User" useCache="true">
    SELECT * FROM T_USER IU 
    <where>
    	<if test=' _parameter != null and _parameter != "" '>
    		IU.USERNAME=#{userName,jdbcType=VARCHAR}  
    	</if>
    </where>
</select>
 
 
<insert id="insertUser" parameterType="com.ssi.model.User">
    INSERT INTO T_USER(USERNAME,PASSWORD,createUser,createDate,isValid) 
            VALUES(
            	#{userName,jdbcType=VARCHAR},
                #{password,jdbcType=VARCHAR},
                1,
                date_format(now(),'%Y-%c-%d %h:%i:%s') ,
                1);
</insert>

<update id="updateUser" parameterType="com.ssi.model.User" flushCache="true">
    update T_USER 
    <set>
     <if test="userName != null"> userName = #{userName,jdbcType=VARCHAR},</if>
     <if test="password != null"> password = #{password,jdbcType=VARCHAR} ,</if>
    </set>
     where id = #{id ,jdbcType=INTEGER }
</update>

<delete id="deleteUser" parameterType="int" flushCache="true">
    delete from T_USER where id= #{id ,jdbcType=INTEGER }
</delete>
 
<select id="getUserCount" parameterType="com.ssi.model.User" resultType="int">
    select count(1) from T_USER IU
     <where>
         IU.isValid=1
        <if test="userName !=null and userName!=''">
            AND IU.USERNAME=#{userName,jdbcType=VARCHAR}
        </if>
        <if test="password !=null and password!=''">
            AND IU.PASSWORD=#{password,jdbcType=VARCHAR}
        </if>
    </where>
</select>
 
</mapper>